<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" abstract="true">
        <property name="id" value="101"/>
        <property name="name" value="aayush"/>
        <property name="gender" value="male"/>

    </bean>

    <bean id="employee" class="application.model.Employee" parent="person">
        <property name="panNo" value="235"/>
        <property name="name" value="nepal"/>
    </bean>
</beans>